<div class="tablediv row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <table class="table table-striped table-hover table-bordered table-responsive" ng-show="products">
            <thead>
                <tr>
                    <th>
                        Product Image
                    </th>
                    <th>
                        Product description
                    </th>
                    <th>
                        Product price
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="product in products">
                    <td width="20%" class="prdtimg"><img class="centeredImg" ng-src="{{product.image}}" 
                    alt="Image currently unavailable"></td>
                    <td width="60%">
                        <h4><b>{{product.name}}</b></h4>
                        <p><b>Product Id: </b>{{product.sku}}</p>
                        <p><b>Short Description:</b> {{product.shortDescription}}</p>
                    </td>
                    <td width="40%">
                        <p><b>Regular price : </b>${{product.regularPrice}}</p>
                        <p><b>Sale Price : </b>${{product.salePrice}}</p>
                    </td>
                    <td>
                        <button ng-click="addToFavorites(product.sku)" class="btn btn-warning">
                            Add to Favorites
                        </button>
                        <button ng-click="addToCart(product.sku)" class=" btn btn-success">
                            Add to cart
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2">
    </div>
</div>